.container
  .lcd-light
  .monitor
  .monitor-neck
  .monitor-base
  .desk
  .tower
  .chair-back
  .chair-bottom
  .clock
    .hour
    .minute
  .pillow
  .bed
  .human-wrapper
    .human
      .head
        .eyes
      .torso
        .l-thigh
          .l-lower-leg
        .r-thigh
          .r-lower-leg
        .r-upper-arm
          .r-lower-arm
        .l-upper-arm
          .l-lower-arm